{% load static %}
<!-- Javascript-->
  <!-- Libs JS -->
<script src="{% static 'orders/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/slick-carousel/slick/slick.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/nouislider/dist/nouislider.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/wnumb/wNumb.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/rater-js/index.js' %}"></script>
<script src="{% static 'orders/assets/libs/prismjs/prism.js' %}"></script>
<script src="{% static 'orders/assets/libs/prismjs/components/prism-scss.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/prismjs/plugins/toolbar/prism-toolbar.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<script src="{% static 'orders/assets/libs/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'orders/assets/libs/inputmask/dist/jquery.inputmask.min.js' %}"></script>
<!-- Theme JS -->
<script src="{% static 'orders/assets/js/theme.min.js' %}"></script>