{% load static %}
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'orders/assets/images/favicon/favicon.ico' %}">



<!-- Libs CSS -->
<link href="{% static 'orders/assets/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/feather-webfont/dist/feather-icons.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/slick-carousel/slick/slick.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/nouislider/dist/nouislider.min.css' %}" rel="stylesheet">
<link href="{% static 'orders/assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">
<link href="{% static 'orders/assets/libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" />
<link href="{% static 'orders/assets/libs/prismjs/themes/prism-okaidia.min.css' %}" rel="stylesheet">

<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'orders/assets/css/theme.min.css' %}">