{% extends 'order/auth/base2.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block maincontext %}

  <!-- section -->
  <section class="my-lg-14 my-8">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="{% static 'orders/assets/images/svg-graphics/signin-g.svg' %}" alt="" class="img-fluid">
        </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Sign in to FreshCart</h1>
            <p>Welcome back to FreshCart! Enter your email to get started.</p>
          </div>

          <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
            <div class="row g-3">
              <!-- row -->

              <div class="col-12">
                <!-- input -->
                <input type="text" class="form-control" name="username" placeholder="User name" required>
              </div>
              <div class="col-12">
                <!-- input -->
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <div class="d-flex justify-content-between">
                <!-- form check -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <!-- label --> <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>
                <div> Forgot password? <a href="{% url 'reset' %}">Reset It</a></div>
              </div>
              <!-- btn -->
              <div class="col-12 d-grid"> <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
              <!-- link -->
              <div>Don’t have an account? <a href="{% url 'register' %}"> Sign Up</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
